/* Markings in sidebar */
#navLinkAddTask,
#navLinkAddTaskM {
    background-color: #091931;
}
#navLinkAddTask span,
#navLinkAddTaskM span {
    color: white;
}
#navLinkAddTask img,
#navLinkAddTaskM img {
    filter: invert(0%) brightness(1000%) saturate(100%) contrast(106%);
}
/* END Markings in sidebar */