/* Markierung der Auswahl in der Sidebar */
#navLinkAddTask,
#navLinkAddTaskM {
    background-color: #091931;
}
#navLinkAddTask span,
#navLinkAddTaskM span {
    color: white;
}
#navLinkAddTask img,
#navLinkAddTaskM img {
    filter: invert(0%) brightness(1000%) saturate(100%) contrast(106%);
}
/* ENDE Markierung der Auswahl in der Sidebar */

#contentAddTask {
    margin-left: 123px;
    margin-top: 82px;
}

.twoColumns {
    display: flex;
}

.columnLeft {
    padding-right: 59px;
    border-right: 1px solid #D1D1D1;
}
.columnRight {
    padding-left: 59px;
}

.labelAndField {
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
}

.labelAndField label {
    line-height: 25.2px;
    padding-bottom: 8px;
}

.inputField {
    font-size: 21px;
    padding: 13px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.inputField:focus {
    outline: none;
}

.requiredMessage {
    margin-top: 8px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: red;
}



/* TEST */
.selectionHeader {
    /* border: 1px solid green; */
    padding: 8px 13px 8px 13px;
    cursor: pointer;
}
#testCategory {
    
}
#testCategory li {
    /* border: 1px solid blue; */
    padding: 0px 13px 8px 13px;
    display: list-item;
    list-style-type: none;
    cursor: pointer;
    overflow: hidden;
}
#testCategory li:last-child{
    border-bottom-left-radius:  9px;
    border-bottom-right-radius: 9px;
} 
#testCategory li:hover {
    background-color: #D1D1D1;
}
.h12px {
    height: 12px;
}
.d-none {
    display: none;
}
.selectCategory {
    /* padding: 13px 21px; */
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-color: white;
}





.dropdown-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.dropdown-list ul li {
    display: none;
}

.dropdown-list ul li:first-child {
    display: block;
}