/* Markierung der Auswahl in der Sidebar */
#navLinkAddTask,
#navLinkAddTaskM {
    background-color: #091931;
}
#navLinkAddTask span,
#navLinkAddTaskM span {
    color: white;
}
#navLinkAddTask img,
#navLinkAddTaskM img {
    filter: invert(0%) brightness(1000%) saturate(100%) contrast(106%);
}
/* ENDE Markierung der Auswahl in der Sidebar */

.sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
}



body {
    display: flex;
}

h1 {
    padding-bottom: 41px;
}

.no-border {
    border: none;
}

.inputContainerTextarea {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 13px 21px;
	gap: 10px;
	width: 422px;
	height: 97px;
    background-color: white;
	border: 1px solid #D1D1D1;
	border-radius: 10px;
	cursor: pointer;
}

.inputContainerTextarea textarea {
	border: none;
	flex: 1;
}

.inputContainerTextarea textarea:focus {
	outline: none;
}

.taskFieldContainer {
    background-color: white;
    margin-top: 8px;
    margin-bottom: 8px;
}

#contentAddTask {
    margin-left: 123px;
    margin-top: 171px;
}

.twoColumns {
    display: flex;
}

.columnLeft {
    padding-right: 59px;
    border-right: 1px solid #D1D1D1;
}
.columnRight {
    padding-left: 59px;
}

.labelAndField {
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
}

.labelAndField label {
    line-height: 25.2px;
    padding-bottom: 8px;
}
.taskLabel {
    margin-bottom: 14px;
}
.inputField {
    font-size: 21px;
    padding: 13px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.inputField:focus {
    outline: none;
}

.requiredMessage {
    margin-top: 8px;
    margin-bottom: 14px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: red;
}



/* TEST */
.selectionHeader {
    height: 51px;
    font-size: 21px;
    padding: 8px 13px 8px 13px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#newCatHeaderField,
#newCatList li,
#newAssList li {
    display: flex;
    align-items: center;
    gap: 10px;
}
#newCatList,
#newAssList {
    font-size: 21px;
}
#newCatList li,
#newAssList li {
    height: 51px;
    padding: 0px 13px 0px 13px;
    
    list-style-type: none;
    cursor: pointer;
    overflow: hidden;
}
#newCatList li:last-child,
#newAssList li:last-child {
    border-bottom-left-radius:  9px;
    border-bottom-right-radius: 9px;
} 
#newCatList li:hover,
#newAssList li:hover {
    background-color: #D1D1D1;
}
#newCatColours {
    display: none;
    gap: 21px;
}
#newCatColours img:hover {
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}
.inviteNewContact img {
    filter: invert(100%) brightness(0%) saturate(0%) contrast(100%);
}
#newAssList li {
    display: flex;
    justify-content: space-between;
}
.h21px {
    height: 21px;
}
.d-none {
    display: none;
}
.opacity-0 {
    opacity: 0;
}
.selectCategory {
    /* padding: 13px 21px; */
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-color: white;
}
.down-arrow {
    width: 16px;
    height: 8px;
}
.inputFieldIcon {
    background-color: #D1D1D1;
    width: 1px;
    height: 100%;
}



.taskPriority {
    height: 61px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnPriority {
    width: 136px;
    height: 51px;
    background-color: white;
    border-color: #D1D1D1;
    font-size: 21px;
    font-weight: 400;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btnPriority:hover {
    height: 61px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}
.btnSelectedUrgent {
    border-color: rgb(255, 61, 0);
    background-color: rgb(255, 61, 0);
}
.btnSelectedMedium {
    border-color: rgb(255, 168, 0);
    background-color: rgb(255, 168, 0);
}
.btnSelectedLow {
    border-color: rgb(122, 226, 41);
    background-color: rgb(122, 226, 41);
}
.btnSelected {
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}
.btnSelectedImage {
    filter: invert(0%) brightness(1000%) saturate(0%) contrast(106%);
}




.taskButtons {
    height: 65px;
    margin: 43px 0 40px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}
.taskButtonsFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.btnTaskAdded {
    height: 65px;
    border-color: rgb(42, 54, 71);
    background-color: rgb(42, 54, 71);
    color: white;
}
.btnTaskFinish {
    height: 55px;
}
.btnTaskClear {
    font-weight: 400;
    border: 1px solid rgb(42, 54, 71);
}
.btnTaskClear:hover {
    color: rgb(41, 171, 226);
    border-color: rgb(41, 171, 226);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}
.btnTaskCreate {
    background-color: rgb(42, 54, 71);
    border-color:rgb(42, 54, 71);
    color: white;
}
.btnTaskCreate:hover {
    background-color: rgb(41, 171, 226);
    border-color: rgb(41, 171, 226);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}
.btnTaskAdded img,
.btnTaskCreate img {
    filter: invert(100%) brightness(1000%) saturate(0%) contrast(100%);
}

.w3-animate-bottom {
    position:relative;
    animation:animatebottom 0.4s
}
@keyframes animatebottom {
    from{
        bottom:-300px;
        opacity:0
    } 
    to{
        bottom:0;
        opacity:1
    }
}




