/* Markings in sidebar */
#navLinkBoard,
#navLinkBoardM {
    background-color: #091931;
}

#navLinkBoard span,
#navLinkBoardM span {
    color: white;
}

#navLinkBoard img,
#navLinkBoard img {
    filter: invert(0%) brightness(1000%) saturate(100%) contrast(106%);
}
/* END Markings in sidebar */


/* Common settings */
.mb-25 {
    margin-bottom: 25px;
}
.mt-10 {
    margin-top: 10px;
}

.tool {
    display: none;
}

.board {
    position: relative;
    margin: 171px auto 0;
    /* width: 1078px; */
    width: calc(100% - 232px);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.boardHeadline {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 108px;
}

.boardTasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.boxStatus {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 60px;
    margin-bottom: 24px;
}
.boxStatusPlusImage {
    height: 30px;
    width: 30px;
    border: 2px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.boxStatusPlusImage img {
    filter: invert(15%) sepia(30%) saturate(705%) hue-rotate(175deg) brightness(100%) contrast(86%);
}
.boxStatusPlusImage:hover {
    border-color:rgb(41, 171, 226);
}
.boxStatusPlusImage:hover img {
    filter: invert(65%) sepia(14%) saturate(6020%) hue-rotate(165deg) brightness(94%) contrast(89%);
}

.boxStatusName {
    font-size: 21px;
    font-weight: bold;
}

.boardText {
    font-size: 73px;
    font-weight: 700;
}


/* Search and Add Task line settings */
.searchAndAddTask {
    display: flex;
    align-items: center;
    gap: 10px;
}
.searchLine {
    background-color: white;
    padding: 13px 15px 13px 21px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    width: 251px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#boardSearchField {
    font-size: 19px;
    font-weight: normal;
    width: 80%;
    border: none;
}
#boardSearchField:focus {
    outline: none;
}
.lupe {
    height: 20px;
    padding-left: 15px;
    border-left: 1px solid #d1d1d1;
}
.boardAddTaskButton {
    height: 55px;
    background-color: #2A3647;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.boardAddTaskButton:hover {
    background-color: #29abe2;
    border-color: #29abe2;
}

.window {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 95%;
    height: 95%;
    background-color: white;
    border-radius: 30px;
    overflow-y: auto;
}

.closeWindow {
    margin: 35px 3%;
    cursor: pointer;
    position: fixed;
    right: 32px;
    z-index: 5;
    transform: translate(100%);
}

#navLinkAddTaskM {
    background-color: #2A3647 !important;
}

.boxes {
    width: 250px;
}

.taskBox {
    /* width: 250px; */
    background-color: white;
    padding: 18px;
    border-radius: 30px;
}
.noTasks {
    /* max-width: 250px; */
    padding: 9px 18px;
    border: 1px dashed grey;
    border-radius: 22px;
}
.taskColumn {
    border: 1px solid transparent;
    height: calc(100% - 90px);
    min-height: 100px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.taskColumnHighlighted {
    border: 1px dashed #d1d1d1;
    border-radius: 30px;
}
.cardCategory {
    font-size: 16px;
    color: white;
    padding: 4px 25px;
    border-radius: 8px;
    width: fit-content;
    margin-bottom: 20px;
}

.cardTitle {
    font-size: 16px;
    font-weight: 700;
    color: #2A3647;
    margin-bottom: 10px;
}

.cardDescription {
    font-size: 16px;
    color: #A8A8A8;
    margin-bottom: 20px;
}
.cardSubtasks {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.cardSubtaskGraphic {
    width: 138px;
    background-color: #f4f4f4;
}
.cardSubtaskPercent {
    background-color: #29abe2;
    height: 8px;
}
.lettersAndPrio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardLettersContainer {
    display: flex;
}
.cardLetters {
    height: 35px;
    width: 35px;
    color: white;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cardPrio img {
    width: 17px;
}
.cardLettersMinus6 {
    margin-left: -6px;
}


/* Viewing a task */
.viewTask {
    background-color: rgba(0, 0, 0, 50%);
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.viewTaskContainer {
    background-color: white;
    max-width: 50%;
    border-radius: 30px;
    padding: 50px;
}
.viewTaskOneLine {
    display: flex;
    align-items: center;
    gap: 25px;
}
.viewTaskHeadline {
    display: flex;
    justify-content: space-between;
}
#viewTaskTitle {
    font-size: 51px;
    font-weight: bold;
    margin-bottom: 25px;
}
#viewTaskDescription,
.viewTaskText {
    font-size: 21px;
}
.viewTaskPrio {
    font-weight: normal;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 4px 18px;
    border: none;
}
.viewTaskPrioUrgent {
    background-color: rgb(255, 61, 0);
}
.viewTaskPrioMedium {
    background-color: rgb(255, 168, 0);
}
.viewTaskPrioLow {
    background-color: rgb(122, 226, 41);
}
.viewTaskPrio > img {
    filter: invert(0%) brightness(1000%) saturate(0%) contrast(106%);
}
.viewTaskEditorList {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.viewTaskEditor {
    display: flex;
    align-items: center;
}
.viewTaskEditorBadge {
    width: 45px;
    height: 45px;
    color: white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.newSubtaskList li {
    font-size: 16px;
    list-style-type: none;
    margin-bottom: 8px;

    display: flex;
    align-items: center;
    gap: 20px;
}
.newSubtaskList li img {
    height: 18px;
}
.viewTaskEditorAndButtons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 50px;
}
.viewTaskButtons {
    display: flex;
}
.viewTaskButton {
    width: 50px;
    height: 50px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.viewTaskButtonLeft {
    border: 2px solid #2A3647;
    border-radius: 10px 0 0 10px;
}
.viewTaskButtonLeft img {
    height: 24px;
}
.viewTaskButtonRight {
    background-color: #2A3647;
    border: 2px solid #2A3647;
    border-radius: 0 10px 10px 0;
}
.viewTaskButtonRight img {
    height: 30px;
    filter: invert(0%) brightness(1000%) saturate(0%) contrast(106%);
}
.viewTaskButtonLeft:hover {
    color: rgb(41, 171, 226);
    border-color: rgb(41, 171, 226);
}
.viewTaskButtonLeft:hover img {
    filter: invert(65%) sepia(14%) saturate(6020%) hue-rotate(165deg) brightness(94%) contrast(89%);
}
.viewTaskButtonRight:hover {
    background-color: rgb(41, 171, 226);
    border-color: rgb(41, 171, 226);
}



@media (max-width: 1350px) {
    /* .headerContainer {
        width: 750px;
    } */

    .boardTasks {

    }

    .board {
        /* width: 750px; */
        width: 100%;
    }

    /* .main-navigation {
        width: 200px !important;
    } */

    /* .header {
        width: calc(100% - 200px);
    } */
}

@media (max-width: 1000px) {
    /* .headerContainer {
        width: 750px;
    } */

    .board {
        width: 100%;
        margin: 120px auto;
    }

    .boardHeadline button {
        margin-left: 0;
        font-size: 0;
        width: 50px;
        height: 50px;
    }

    .boardHeadline img {
        padding: 0 10px;
    }

    /* .header {
        width: 100%;
    } */
}

@media (max-width: 760px) {
    /* .headerContainer {
        width: 420px;
    } */

    .serachAdd {
        width: 100%;
    }

    .tool {
        display: block;
        font-size: 19px;
    }

    .board {
        width: 95%;
    }

    .boardHeadline {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
        margin-bottom: 25px;
    }

    .boardHeadline input {
        width: 100%;
    }

    .boardText {
        font-size: 56px;
    }

    /* .boardTasks {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    } */

    .categorie {
        width: 100%;
    }
}

@media (max-width: 490px) {
    /* .headerContainer {
        width: 360px;
    } */

    /* .board {
        width: 360px;
    } */
}

@media (max-width: 450px) {
    /* .headerContainer {
        width: 280px;
    } */

    .tool {
        font-size: 16px;
    }

    /* .board {
        width: 280px;
    } */
}