/* Markierung der Auswahl in der Sidebar */
#navLinkContacts,
#navLinkContactskM {
    background-color: #091931;
}
#navLinkContacts span,
#navLinkContactsM span {
    color: white;
}
#navLinkContacts img,
#navLinkContactsM img {
    filter: invert(0%) brightness(1000%) saturate(100%) contrast(106%);
}
/* ENDE Markierung der Auswahl in der Sidebar */

body {
    height: 100vh;
}

.contactBody main {
    justify-content: flex-start;
    margin: 0;
    padding: 90px 0 0 0;
    height: 100vh;
}

.contactsList {
    background-color: #fff;
    width: 450px;
    height: calc(100vh - 90px);
    overflow: auto;
}

.contactsList::-webkit-scrollbar-thumb {
    width: 10px;
}

.contactWrapper:hover {
    background: linear-gradient(0deg, rgba(170,170,170,0.2) 0%, rgba(170,170,170,0.05) 100%);
}

.sameFullContact, .sameFullContact.contactWrapper:hover {
    background: #091931;
}

.sameFullContact h3 {
    color:#fff;
    transition: none;
}

.contactWindow {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 50px;
}

.btnRightBottomPosition {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.btnWithImg {
    display: flex;
    gap: 15px;
}

.contactWrapper {
    display: flex;
    gap: 15px;
    padding: 10px;
    margin: 5px 20px;
    border-radius: 15px;
}

.initials {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
    width: 50px;
    height: 50px;
}

.oneLetterHeader {
    line-height: 120%;
    font-size: 21px;
    border-bottom: 1px solid #cac9c9;
    margin: 20px;
    padding: 20px;
}

/* ~ full contact area */

.fullContactHeader {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    align-items: center;
}

.fullContactHeader h1 {
    padding: 0;
}

.contactWindow h2 {
    font-size: 48px;
    font-weight: 500;
}

.fullContactHeader .initials {
    width: 100px;
    height: 100px;
    font-size: 40px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.fullContactHeaderName p {
    color: #29abe2;
}

.fullContactHeaderName p::first-letter {
    font-size: 24px; /* this is the + */
}

.contactSubHeaderContainer {
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
    align-items: baseline;
}

.contactSubHeaderContainer h3 {
    font-weight: 400;
}

.showFullContact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.closeFullSiteBtn {
    display: none;
}

/* ~ add & edit contact */

.addContactClaimer h1 {
    padding: 0;
    margin: 0;
}

.addContactWindow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,0.2);
    transform: translate(100%);
}

.blueLine {
    width: 52px;
    background: #29abe2;
    border-radius: 50px;
    height: 2px;
    margin-top: -20px;
}

@keyframes slide {
    from {
        transform: translate(100%);
    }

    to {
        transform: translate(0%);
    }
}

@keyframes slideOut {
    from {
        transform: translate(0%);
    }

    to {
        transform: translate(100%);
    }
}

.addContactContainer {
    display: flex;
    width: 1200px;
    height: 600px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.addContactClaimer {
    background-color: #091931;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 40%;
    padding: 45px;
}

.claimerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.addContactClaimer img {
    width: 50px;
}

.addContactWorkspace {
    background-color: #fff;
    flex: 1;
    display: flex;
    padding: 45px;
    justify-content: space-between;
    position: relative;
}

.closeX {
    position: absolute;
    top: 45px;
    right: 45px;
    font-weight: 100;
    color: #000;
    z-index: 2;
}

.circle {
    align-self: center;
    width: 120px;
    height: 120px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 40px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.bgLightGrey {
    background: #d1d1d1;
}

.circle img {
    width: auto;
    height: 50%;
    filter: brightness(2);
}

.inputArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.inputArea input {
    padding: 0;
}

.addContactWorkespaceBtn {
    display: flex;
    gap: 30px;
}

.editContactSaveBtn {
    padding: 15px 40px;
    margin-right: 20px;
}

.contactColorWrapper {
    position: absolute;
    bottom: 20px;
    right: 30px;
    left: 30px;
    display: flex;
    justify-content: space-between;
}

.contactColorContainer {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

@media(max-width: 1300px) {

    /* *middle full Contact Version */

    .fullContactHeader {
        flex-direction: column;
        gap: 20px;
        position: relative;
        margin-bottom: 60px;
        align-items: flex-start;
    }

    .header-line {
        height: 3px;
        width: 40%;
        position: absolute;
        bottom: -20px;
        left: 0;
        margin: 0;
    }

    .showFullContact .fullContactHeader {
        margin: 0;
    }

    .fullContactHeader .initials {
        align-self: flex-start;
    }

    .fullContactHeaderName h2 {
        font-size: 40px;
    }

    .contactBody main {
       height: auto;
    }

    /* *small contact workstation */
    .addContactContainer {
        flex-direction: column;
        width: 320px; 
    }

    .addContactClaimer {
        width: 100%;
        height: 40%;
    }

    .addContactClaimer img {
        display: none;
    }

    .claimerText h1 {
        font-size: 32px;
    }
    
    .claimerText {
        gap: 10px;
    }

    .addContactWorkspace {
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10%;
        position: relative;
    }

    .closeX {
        top: 25px;
        right: 25px;
        color: #fff;
    }

    .circle {
        position: absolute;
        top: -75px
    }

    .inputArea .inputContainer{
        width: 256px;
        padding: 6px 12px;
        height: 40px
    }

    .inputArea {
        gap: 30px;
    }

    .inputArea input {
        min-width: 180px;
    }

    .contactCancelBtn {
        display: none;
    }

    .addContactWorkespaceBtn {
        justify-content: center !important;
        margin-top: 20px;
    }

    .addContactWorkespaceBtn button {
        font-size: 16px;
        padding: 8px;
    }

    button.editContactSaveBtn {
        margin-right: 0;
        padding: 8px 16px;
    }
}

@media(max-width: 1050px) {
    .contactBody main {
        flex-direction: column;
        position: relative;
        margin-top: 80px;
        height: auto;
    }

    ::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
        background-image: none;
    }
    
    body.contactBody {
        background: #fff;
    }

    .contactsList {
        width: 100%;
    }

    .contactWindow {
        position: absolute;
        top: 40px;
        left: 0;
        visibility: hidden;
        transition: none;
        background-color: #fff;
        width: 100%;
    }

    .btnRightBottomPosition {
        position: fixed;
        display: flex;
        height: max-content;
        top: 100px; 
        right: 10px;
        visibility: visible;
    }

    .contactBody main {
        height: auto;
    }

    .contactBody main * {
        transition: none;
    }

    .contactWindow.fullSite {
        visibility: visible;
    }

    .contactWindow.fullSite .btnRightBottomPosition{
        visibility: hidden;
    }

    .closeFullSiteBtn {
        display: block;
        position: absolute;
        top: 5px;
        right: 0;
    }
}