/* Markierung der Auswahl in der Sidebar */
#navLinkContacts,
#navLinkContactskM {
    background-color: #091931;
}
#navLinkContacts span,
#navLinkContactsM span {
    color: white;
}
#navLinkContacts img,
#navLinkContactsM img {
    filter: invert(0%) brightness(1000%) saturate(100%) contrast(106%);
}
/* ENDE Markierung der Auswahl in der Sidebar */

body {
    height: 100vh;
}

.contactBody main {
    justify-content: flex-start;
    margin: 0;
    padding: 90px 0 0 0;
    height: 100vh;
}

.contactsList {
    background-color: #fff;
    width: 450px;
    height: calc(100vh - 90px);
    overflow: auto;
}

.contactsList::-webkit-scrollbar-thumb {
    width: 10px;
}

.contactWindow {
    flex: 1;
    display: flex;
    margin-top: 56px;
    position: relative;
    flex-direction: column;
    padding: 50px;
}

.btnRightBottomPosition {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.btnWithImg {
    display: flex;
    gap: 15px;
}

.contactWrapper {
    display: flex;
    gap: 15px;
    margin: 20px 20px;
}

.intials {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
    width: 50px;
    height: 50px;
}

.oneLetterHeader {
    line-height: 120%;
    font-size: 21px;
    border-bottom: 1px solid #cac9c9;
    margin: 20px;
    padding: 20px;
}

/* ~ full contact area */

.fullContactHeader {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.contactSubHeaderContainer {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.addContactWindow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,0.2);
    transform: translate(100%);
}


@keyframes slide {
    from {
        transform: translate(100%);
    }

    to {
        transform: translate(0%);
    }
}

@keyframes slideOut {
    from {
        transform: translate(0%);
    }

    to {
        transform: translate(100%);
    }
}

.addContactContainer {
    display: flex;
    width: 1200px;
    height: 600px;
    border-radius: 15px;
    overflow: hidden;
}

.addContactClaimer {
    background-color: #091931;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 45px;
}

.addContactClaimer img {
    width: 50px;
    
}

.addContactWorkspace {
    background-color: #fff;
    flex: 1;
    display: flex;
    padding: 45px;
    justify-content: space-between;
    position: relative;
}

.closeX {
    position: absolute;
    top: 45px;
    right: 45px;
    font-weight: 100;
}

.circle {
    align-self: center;
    width: 120px;
    height: 120px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.bgLightGrey {
    background: #d1d1d1;
}

.circle img {
    width: auto;
    height: 50%;
    filter: brightness(2);
}

.inputArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.addContactWorkespaceBtn {
    display: flex;
    justify-content: space-between;
}

.contactColorWrapper {
    position: absolute;
    bottom: 20px;
    right: 30px;
    left: 30px;
    display: flex;
    justify-content: space-between;
}

.contactColorContainer {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}