body.indexBody {
	padding: 0 5%;
	width: 100%;
	height: 100vh;
	display: block;
}

.indexHeader {
	padding: 5%;
	display: flex;
	justify-content: flex-end;
	height: 15vh;
	width: 100%;
}

.justTextBtn {
	border: none;
	font-weight: 400;
	background-color: transparent;
	color: #2A3647;
	cursor: auto;
}

.changeOpacityAnimation {
	animation: changeOpacity;
	animation-duration: 600ms;
	animation-delay: 400ms;
	animation-fill-mode: forwards;
	opacity: 0;
}

img {
	width: 100%;
	height: auto;
}

.indexLogo {
	position: absolute;
	animation: moveLogo;
	animation-duration: 600ms;
	animation-delay: 200ms;
	animation-fill-mode: forwards;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(2.2);
	width: 100px;
	z-index: 1;
}

.slideLogo {
	position: absolute;
	top: 25px;
	left: 25px;
	display: none;
}

.smallFirstIndexWindow {
	display: none;
}

.requiredMessageContainer {
	position: relative;
	margin-bottom: 40px;
}

#requiredMessage {
	position: absolute;
	bottom: -25px;
	left: 0;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: red;
	font-weight: 100;
}

@keyframes moveLogo {
	to {
		top: 75px;
		left: 75px;
		transform: scale(1);
	}
}

@keyframes changeOpacity {
	to {
		opacity: 1;
	}
}

main.indexMain {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
	margin-top: 0;
}

.activityContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 115px;
	gap: 35px;
	box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
	border-radius: 30px;
	background-color: #fff;
	position: relative;
	text-align: center;
}

.activityContainer .guestA {
	border: none;
	padding: 15px;
	border-radius: 8px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 21px;
	line-height: 120%;
	border: 1px solid #2A3647;
	cursor: pointer;
}

.blueLine {
	width: 150px;
	border: 2px solid #29ABE2;
}

.twiceBtnContainer,
.rememberContainer {
	display: flex;
	width: 90%;
	gap: 30px;
	justify-content: center;
}

.twiceBtnContainer>* {
	flex: 1;
}

.checkContainer {
	display: flex;
	flex: 1;
	justify-content: space-between;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	padding: 0 8px;
}

.rememberContainer a {
	flex: 1;
}

.loginBtnContainer button {
	flex: 1;
}

.backArrow {
	position: absolute;
	top: 48px;
	left: 48px;
	width: 24.67px;
	cursor: pointer;
}

.messageBtnBackground {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100vh;
	width: 100vw;
	background-color: rgba(42, 54, 71, 0.2);
	z-index: 1;
}

.messageBtn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	display: flex;
	animation: flyingFromBottom ease-in-out 500ms;
}

@keyframes flyingFromBottom{
	from {
		transform: translateY(500%); 
	}
}

.messageBtn img {
	width: 15%
}

input#remember {
	min-width: max-content;
}

@media (max-width: 760px) {

	.smallFirstIndexWindow {
		display: block;
		background-color: #2A3647;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 5;
		animation: smallFirstIndexWindow;
		animation-duration: 300ms;
		animation-delay: 500ms;
		animation-fill-mode: forwards;
	}

	.smallFirstIndexWindow img {
		width: 50px;
		animation: moveLogo;
		animation-duration: 600ms;
		animation-delay: 300ms;
		animation-fill-mode: forwards;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1);
	}

	.indexLogo {
		animation-delay: 300ms;
		width: 50px
	}

	@keyframes smallFirstIndexWindow {
		to {
			opacity: 0;
			z-index: -1;
		}
	}

	@keyframes moveLogo {
		to {
			top: 20px;
			left: 20px;
			transform: scale(0.8);
		}
	}

.slideForm {
	animation: flyingFromBottom 800ms ease-in-out;
	}

	.slideLogo {
		display: block;
		width: 40px;
		animation: flyingFromBottom 800ms ease-in-out, displayNone 100ms ease-in-out 800ms forwards;
	}

	@keyframes displayNone {
		to {
			opacity: 0;
		}
	}

	.indexHeader {
		width: 100%;
		justify-content: center;
		padding: 0;
		height: 70px;
		margin-bottom: 10px;
	}

	.headerBtnContainer {
		display: flex;
		height: max-content;
		width: 90%;
		justify-content: space-between;
	}

	body.indexBody {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		margin-top: 20px;
		height: calc(100vh - 20px);
	}

	.activityContainer {
		width: 100%;
		max-height: calc(100vh - 190px);
		overflow: auto;
		border-radius: 30px;
		padding: 20px 0;
		gap: 3.5vh;
	}

	.activityContainer h1 {
		margin-top: 20px;
	}

	.blueLine {
		width: 25%;
	}

	.rememberContainer {
		flex-direction: column-reverse;
		gap: 1vh;
	}

	.link {
		text-align: left;
		align-self: flex-start;
	}

	.checkContainer {
		justify-content: flex-start;
		padding: 0 10px;
		gap: 20px;
	}

	.twiceBtnContainer {
		flex-direction: column;
		width: 50%;
		gap: 15px;
	}

	main.indexMain {
		width: 70%;
		margin: 0 auto;
		margin-top: 86px;
	}

	.indexMain .inputContainer input,
	.indexMain .inputContainer input::placeholder {
		min-width: 50px;
		font-size: 16px;
	}

	.indexMain Button,
	.indexMain .guestA p {
		font-size: 16px;
	}

	.indexMain Button,
	.activityContainer .guestA {
		padding: 10px
	}

	.indexMain a {
		padding: 0 10px;
	}

	.indexMain .guestA p {
		padding: 0;
		margin: 0;
	}

	.indexMain .inputContainer {
		height: auto;
		padding: 8px 16px;
	}

	#indexContent {
		width: 100%;
		margin: 0 auto;
	}

	.backArrow {
		top: 15px;
		left: 25px;
	}

	.messageBtn {
		animation: none;
		top: 75%
	}
}

@media(max-width: 550px) {
	main.indexMain {
		width: 80%;
	}
}

@media(max-width: 430px) {
	main.indexMain {
		width: 90%;
		margin-top: 60px;
	}
}

@media(max-width: 320px) {
	main.indexMain {
		width: 100%;
	}
}