body.indexBody {
	padding: 0 5%;
	width: 100%;
	height: 100vh;
	display: block;
}

.indexHeader {
	padding: 5%;
	display: flex;
	justify-content: flex-end;
	height: 15vh;
	width: 100%;
}

.justTextBtn {
	border: none;
	font-weight: 400;
	background-color: transparent;
	color: #2A3647;
}

.changeOpacityAnimation {
	animation: changeOpacity;
	animation-duration: 600ms;
	animation-delay: 400ms;
	animation-fill-mode: forwards;
	opacity: 0;
}

img {
	width: 100%;
	height: auto;
}

.indexLogo {
	position: absolute;
	animation: moveLogo;
	animation-duration: 600ms;
	animation-delay: 200ms;
	animation-fill-mode: forwards;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(2.2);
	width: 100px;
	z-index: 1;
}

@keyframes moveLogo {
	to {
		top: 75px;
		left: 75px;
		transform: scale(1);
	}
}

@keyframes changeOpacity {
	to {
		opacity: 1;
	}
}

.indexMain {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
}

.activityContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 0px;
	gap: 35px;
	width: 652px;
	height: 513px;
	box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
	border-radius: 30px;
	background-color: #fff;
	position: relative;
}

.blueLine {
	width: 150px;
	border: 2px solid #29ABE2;
}

.twiceBtnContainer, .rememberContainer {
	display: flex;
	width: 56%;
	gap: 30px;
	justify-content: center;
}

.checkContainer {
	display: flex;
	flex: 1;
	justify-content: space-between;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 120%;
	padding: 0 8px;
}

.rememberContainer a {
	flex: 1;
}

.loginBtnContainer button {
	flex: 1;
}

@media (max-width: 730px) {

	@keyframes moveLogo {
		to {
			top: 50px;
			left: 50px;
			transform: scale(0.8);
		}
	}

	.indexHeader {
		width: 100%;
		justify-content: center;
	}

	.headerBtnContainer {
		display: flex;
		height: max-content;
		width: 90%;
		justify-content: space-between;
	}

	body.indexBody {
		display: flex;
		flex-direction: column-reverse;
	}

	.indexMain {
		margin-top: 15vh;
	}

	.activityContainer {
		width: 90%;
		height: min-content;
	} 

	.activityContainer h1 {
		text-align: center;
	}

	.activityContainer>* {
		width: 90%;
	}

	.blueLine {
		width: 25%;
	}

	.rememberContainer {
		flex-direction: column-reverse;
	}

	.link {
		text-align: left;
		align-self: flex-start;
	}

	.checkContainer {
		justify-content: flex-start;
		padding: 0 0;
		gap: 20px;
	}

	.twiceBtnContainer {
		flex-direction: column;
		width: 40%;
	}
}

.backArrow {
	position: absolute;
	top: 16.67%;
	left: 16.67%;
	width: 24.67px;
}


