/* Settings for legal_notice.html */

#navLinkLegalNotice {
    background-color: #091931;
}
#navLinkLegalNotice span {
    color: white;
}
#navLinkLegalNotice img {
    filter: invert(0%) brightness(1000%) saturate(100%) contrast(106%);
}

h1 {
    padding-bottom: 24px;
}
#legalNoticeContent div:last-child {
    padding-top: 32px;
    padding-bottom: 32px;
}
.noticeHeader {
    font-size: 21px;
    font-weight: bold;
    padding: 16px 16px 8px 16px;
}
.noticeText {
    padding: 0px 16px;
}