/* Grundeinstellungen Sidebar */

.main-navigation {
    color: white;
    position: sticky;
    top: 0;

    width: 232px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

a,
a:hover {
    text-decoration: none;
}

.bg-darkblue {
    background-color: #2A3647;
}


/* Einstellungen Sidebar in normaler Darstellung */

.navbar-logo {
    width: 100px;
}

.navbar-entries {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.navbar-links {
    width: 100%;
    padding-top: 243px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.navbar-entry-row,
.navbar-links-row {
    width: 100%;
    padding-left: 24px;
    display: flex;
    gap: 20px;
    align-items: center;
}

/* .navbar-entry-row:hover,
.navbar-links-row:hover {
    background-color: #091931;
    cursor: pointer;
} */
/* .navbar-entry-row:hover img,
.navbar-links-row:hover img {
    filter: invert(0%) brightness(1000%) saturate(100%) contrast(106%);
} */

.navbar-active-link {
    background-color: #091931;
}

.navbar-icon {
    height: 26px;
    justify-self: end;
    margin: 8px 0px 8px 8px;
    flex: 0 0 30px;
}

.navbar-entry,
.navbar-link {
    font-size: 16px;
    color: #cdcdcd;
    flex: 0 0 100px;
}

/* .navbar-entry:hover,
.navbar-link:hover {
    color: white;
} */

.navbar-icon-small {
    height: 18px;
    justify-self: end;
    margin: 8px 0px 8px 8px;
    flex: 0 0 30px;
    bottom: 20px;
}


/* Einstellungen Sidebar für mobile Geräte */

.mobile-navigation {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.navbar-entries-mobile {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-mobile-col {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .navbar-mobile-col:hover {
    background-color: #091931;
    cursor: pointer;
} */

/* .navbar-mobile-col:hover span {
    color: white;
} */

/* .navbar-mobile-col:hover img {
    filter: invert(0%) brightness(1000%) saturate(100%) contrast(106%);
} */

.navbar-icon-mobile {
    margin: 0;
}

.navbar-entry-mobile {
    flex: 0;
}


/* Umschalten für mobile Geräte, bzw. kleine Auflösung */

@media (max-width: 760px) {
    .main-navigation {
        display: none;
    }

    .mobile-navigation {
        display: block;
    }
}
@media (max-width: 490px) {
    .navbar-icon {
        height: 22px;
    }
    .navbar-entry {
        font-size: 14px;
    }
}