.addTask-none {
	transform: translate(100%)
}

#navLinkAddTask,
#navLinkAddTaskM {
    background-color: #2A3647 !important;
}

.addTask {
	background-color: rgba(0, 0, 0, 50%);
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 20;
}

.window {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 95%;
	height: 95%;
	background-color: white;
	border-radius: 30px 0 0 30px;
	overflow-y: auto;
}

@keyframes slide {
	from {
		transform: translate(100%);
	}

	to {
		transform: translate(0%);
	}
}

@keyframes slideOut {
	from {
		transform: translate(0%);
	}

	to {
		transform: translate(100%);
	}
}

.closeWindow {
	margin: 35px 3%;
	cursor: pointer;
	position: fixed;
	right: 32px;
	z-index: 5;
	transform: translate(100%);
}

.addTaskContainer {
	z-index: 2;
}

#navLinkAddTaskM {
	background-color: #2A3647 !important;
}

@media (max-width: 760px) {
	.closeWindow {
		top: 50px;
	}
}