.addTask-none {
	transform: translate(100%);
	transition: all ease-in-out 400ms;
}

#navLinkAddTask,
#navLinkAddTaskM {
	background-color: #2A3647;
}

.addTask {
	background-color: rgba(0, 0, 0, 50%);
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 20;
	transition: all ease-in-out 400ms;
}

.window {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 95%;
	height: 95%;
	border-radius: 30px;
	background: #fff;
}

#contentAddTask {
	margin-top: 0;
}

.closeWindow {
	margin: 35px 3%;
	cursor: pointer;
	position: fixed;
	right: 32px;
	z-index: 5;
	transform: translate(100%);
}

.addTaskContainer {
	z-index: 2;
	height: 100%;
	overflow-y: auto;
	justify-content: center;
}

.addTaskContainer::-webkit-scrollbar-thumb {
	position: absolute;
	right: -20px
}

#navLinkAddTaskM {
	background-color: #2A3647 !important;
}

@media (max-width: 1288px) {
	.closeWindow {
		margin: 60px;
	}
	
.window .btnTaskCreate {
  position: inherit;
  z-index: 10;
	}
}

@media (max-width: 1270px) {
	.addTaskContainer {
		justify-content: flex-start;
	}
}

@media (max-width: 760px) {
 .header {
		position: fixed;
		top: 0;
		z-index: 1;
	}

	.addTask {
		top: 0;
		background: none;
		align-items: flex-start;
		margin-top: 70px;
		z-index: 1;
	}

	.closeWindow {
		margin: 30px;
	}

	.window .btnTaskCreate {
		top: -60px;
		z-index: 20
	}	

	.window {
		background: #f5f5f5;
		max-height: calc(100vh - 150px);
		height: 100%;
		padding-bottom: 5px;
		margin-top: 5px;
		border-radius: 0;
	}

.addTaskContainer {
	height: 100%;
}

.window .smallScreenTitle {
		display: none;
		width: 20px;
		height: 20px;
	}

	.window #contentAddTask h1 {
		font-size: 40px;
		padding-top: 0;
	}

	.window .addTaskContainer {
		margin-bottom: 0;
	}

	.window .columnLeft {
		width: 100%;
	}

	.window * {
		font-size: 16px;
	}

	.window .displayPrio img {
		width: 15px;
	}

	.window #contentAddTask,
	.window #assBadges {
		max-width: 100%;
	}

	.window :is(.inputContainer, .labelAndField, .inputField, .displayPrio) {
		width: 100%;
	}

	.window .taskPriority {
		flex-direction: row;
		height: 61px;
	}

	.window .btnPriority {
		font-size: 14px;
	}

	.window .taskPriority>* {
		width: 30%;
		min-width: 30%;
	}

	.window ::placeholder {
		font-size: 16px;
	}

}

@media (max-width: 400px) {
	.window .taskPriority {
		flex-direction: column;
		height: 183px;
	}
	.window .taskPriority > * {
		width: 50%;
	}
}