/*erstellt durch Gino Emmel*/

body {
    background-color: #F5F5F5;
}

.summary {
    width: 1208px;
    margin-left: 123px;
    margin-top: 82px;
}

.summary-head {
    display: flex;
    align-items: center;
}

.summary-headline {
    font-size: 73px;
    font-weight: 700;
}

.summary-headtext {
    margin-left: 30px;
    font-weight: 400;
    font-size: 32px;
    padding: 13.5px 0 13.5px 30px;
    color: #2A3647;
    border-left: 3px solid #29ABE2;
}

.summary-body {
    display: flex;
    margin-top: 87px;
}

.summary-tasks {
    display: flex;
    flex-direction: column;
    width: 580px;
    margin-right: 67px;
    gap: 35px;
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greet {
    font-size: 56px;
    font-weight: 500;
    color: #2A3647;
}

.person {
    font-size: 77px;
    font-weight: 700;
    color: #29ABE2;
}

.top-tasks {
    display: flex;
    gap: 35px;
}

.top-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.number1 {
    font-size: 64px;
    font-weight: 600;
    background-color: white;
}

.statusText1 {
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    background-color: white;
    color: #2A3647;
}

.middle-task {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 580px;
    height: 150px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.middle-task-status {
    margin-left: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-task img {
    width: 60px;
    height: 60px;
}

.number2 {
    font-size: 56px;
    font-weight: 600;
}

.statusText2 {
    font-size: 19px;
    font-weight: 400;
    color: #2A3647;
}

.middle-task-date {
    margin-left: 61px;
    padding: 18px 0px 18px 61px;
    border-left: 2px solid #D1D1D1;
}

.date1 {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 13px;
}

.bottom-task {
    display: flex;
    gap: 35px;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 272.5px;
    height: 150px;
    gap: 18px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.todo img {
    width: 69px;
    height: 69px;
}

.bottom-task-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}