<link rel="stylesheet" href="./css/sidebar.css">
<script src="./js/sidebar.js"></script>

<nav class="main-navigation bg-darkblue">
    <img src="./img/join-logo-white.svg" alt="" class="navbar-logo">
    <div class="navbar-entries">
        <a href="./summary.html" class="navbar-entry-row" id="navLinkSummary">
            <img src="./img/summary-icon.svg" alt="Link to summary" class="navbar-icon"><span class="navbar-entry">Summary</span>
        </a>
        <a href="./board.html" class="navbar-entry-row" id="navLinkBoard">
            <img src="./img/board-icon.svg" alt="Link to board" class="navbar-icon"><span class="navbar-entry">Board</span>
        </a>
        <a href="./add_task.html" class="navbar-entry-row" id="navLinkAddTask">
            <img src="./img/write-task-icon.svg" alt="Link to task addition" class="navbar-icon"><span class="navbar-entry">Add Task</span>
        </a>
        <a href="./contacts.html" class="navbar-entry-row" id="navLinkContacts">
            <img src="./img/contacts-icon.svg" alt="Link to contacts" class="navbar-icon"><span class="navbar-entry">Contacts</span>
        </a>
    </div>
    <div class="navbar-links">
        <a href="./legal_notice.html" class="navbar-links-row" id="navLinkLegalNotice">
            <img src="./img/i-icon.svg" alt="Link to legal notice" class="navbar-icon"><span class="navbar-link">Legal notice</span>
        </a>
    </div>
</nav>

<nav class="mobile-navigation bg-darkblue">
    <div class="navbar-entries-mobile">
        <a href="./summary.html" class="navbar-mobile-col" id="navLinkSummaryM">
            <img src="./img/summary-icon.svg" alt="Link to summary" class="navbar-icon navbar-icon-mobile"><span class="navbar-entry navbar-entry-mobile">Summary</span>
        </a>
        <a href="./board.html" class="navbar-mobile-col" id="navLinkBoardM">
            <img src="./img/board-icon.svg" alt="Link to board" class="navbar-icon navbar-icon-mobile"><span class="navbar-entry navbar-entry-mobile">Board</span>
        </a>
        <a href="./add_task.html" class="navbar-mobile-col" id="navLinkAddTaskM">
            <img src="./img/write-task-icon.svg" alt="Link to task addition" class="navbar-icon navbar-icon-mobile"><span class="navbar-entry navbar-entry-mobile">Add Task</span>
        </a>
        <a href="./contacts.html" class="navbar-mobile-col" id="navLinkContactsM">
            <img src="./img/contacts-icon.svg" alt="Link to contacts" class="navbar-icon navbar-icon-mobile"><span class="navbar-entry navbar-entry-mobile">Contacts</span>
        </a>
    </div>
</nav>