<script src="js/sidebar.js"></script>
<link rel="stylesheet" href="css/sidebar.css">

<nav class="main-navigation bg-darkblue">
    <img src="img/join-logo-white.svg" alt="" class="navbar-logo">
    <div class="navbar-entries">
        <a href="summary.html" class="navbar-entry-row">
            <img src="img/summary-icon.svg" alt="" class="navbar-icon"><span class="navbar-entry">Summary</span>
        </a>
        <a href="board.html" class="navbar-entry-row">
            <img src="img/board-icon.svg" alt="" class="navbar-icon"><span class="navbar-entry">Board</span>
        </a>
        <a href="add_task.html" class="navbar-entry-row">
            <img src="img/write-task-icon.svg" alt="" class="navbar-icon"><span class="navbar-entry">Add Task</span>
        </a>
        <a href="contacts.html" class="navbar-entry-row">
            <img src="img/contacts-icon.svg" alt="" class="navbar-icon"><span class="navbar-entry">Contacts</span>
        </a>
    </div>
    <div class="navbar-links">
        <a href="imprint.html" class="navbar-links-row">
            <img src="img/plus-icon.svg" alt="" class="navbar-icon-small"><span class="navbar-link">Imprint</span>
        </a>
        <a href="legal_notice.html" class="navbar-links-row">
            <img src="img/plus-icon.svg" alt="" class="navbar-icon-small"><span class="navbar-link">Legal notice</span>
        </a>
    </div>
</nav>

<nav class="mobile-navigation bg-darkblue">
    <div class="navbar-entries-mobile">
        <a href="summary.html" class="navbar-mobile-col">
            <img src="img/summary-icon.svg" alt="" class="navbar-icon navbar-icon-mobile"><span class="navbar-entry navbar-entry-mobile">Summary</span>
        </a>
        <a href="board.html" class="navbar-mobile-col">
            <img src="img/board-icon.svg" alt="" class="navbar-icon navbar-icon-mobile"><span class="navbar-entry navbar-entry-mobile">Board</span>
        </a>
        <a href="add_task.html" class="navbar-mobile-col">
            <img src="img/write-task-icon.svg" alt="" class="navbar-icon navbar-icon-mobile"><span class="navbar-entry navbar-entry-mobile">Add Task</span>
        </a>
        <a href="contacts.html" class="navbar-mobile-col">
            <img src="img/contacts-icon.svg" alt="" class="navbar-icon navbar-icon-mobile"><span class="navbar-entry navbar-entry-mobile">Contacts</span>
        </a>
    </div>
</nav>